.sideBar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  background-color: #2f3135;
  height: 100vh;
}
.sideBar__top {
  display: flex;
  justify-content: space-between;
  background-color: #2f3135;
  align-items: center;
  padding: 20px;
  color: white;
  border-bottom: 3px solid rgb(12, 12, 12);
  border-right: 3px solid rgb(12, 12, 12);
}
.sidebar__channels{
    flex:1;
}
.sideBar__AddChannel{
    cursor: pointer;
   
}

.sideBar__AddChannel:hover{
    color: white;
   
}
.sideBar__channelsHeader{
    display: flex;
    justify-content: space-between;
    background-color: #2f3135;
    align-items: center;
    padding: 18px;
    color: gray;
}
.sideBar__Header{
    display: flex;
    align-items: center;
}
