.message {
  margin: 30px;
  display: flex;
  align-items: center;
}

.messengerInfo {
  color: white;
  margin-left: 15px;
  padding: 10px;
}

.messageTimes {
  color: darkgray;
  margin-left: 30px;
  font-size: 12px;
  padding: 10px;
}
